@import '../../assets/scss/var.scss';

.wrapper {
	margin-top: 50px;
}

.title {
	width: 200px;
	margin: 0 !important;
}

.text {
	font-size: 16px;
	height: calc(100% - 20px) !important;
	// overflow: hidden;
	margin-bottom: 0;
}