@import '../../../assets/scss/var.scss';

.form {
	max-width: 450px;
	margin: 0 auto;
}

.formPopover {
	position: relative;
	width: 45%;
}

.input {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000000;
	opacity: 0;
}

.inputColor {
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 10;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}