@import "../../assets/scss/var.scss";

.form {
	max-width: 450px;
	margin: 50px auto 0;
}

.btn {
	margin: 95px 0 35px;
}

.subInfo {
	text-align: center;
	font-size: 23px;
	font-weight: 400;
	color: #736868;
	margin-bottom: 50px;

	a {
		font-weight: 600;
		color: $primary;
		text-decoration: underline;
	}
}