@import '../../assets/scss/var.scss';

.date {
	font-size: 20px;
	font-weight: 500;
}

.addIcon {
	margin-top: -20px;
	margin-bottom: -20px;
	vertical-align: middle;
	font-size: 40px;
	color: $black;
	cursor: pointer;

	&:hover {
		color: $pink;
	}

	svg {
		transition: color 0.38s ease-in-out;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;

	>button {
		width: fit-content;
		margin-right: 0;
		margin-left: auto;
		margin-bottom: 20px;
		margin-top: -50px;
	}
}