@import '../../assets/scss/var.scss';

.roundBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
	padding: 0;
	background-color: $white  !important;
	border: 2px solid $white  !important;
	box-shadow: none;
	color: $primary  !important;

	transition: background-color 0.38s ease-in-out,
		border-color 0.38s ease-in-out,
		color 0.38s ease-in-out;

	svg {
		width: 50px;
		height: 50px;
		transition: transform 0.38s ease-in-out;
	}

	&:focus {
		background-color: $white  !important;
		border: 2px solid $white  !important;
		color: $primary  !important;
	}

	&:hover {
		background-color: $primary  !important;
		border-color: $primary  !important;
		color: $white  !important;

		svg {
			transform: scale(0.5) !important;
		}
	}

	&.roundBtnOpen {
		background-color: $white  !important;
		border-color: $primary  !important;
		color: $primary  !important;

		svg {
			transform: scale(0.5) !important;
		}
	}
}

.popoverTitle {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.popoverIcon {
	margin-right: 20px;
	color: $primary;

	svg {
		width: 50px;
		height: 50px;
	}
}

.title {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
	color: #999999;
}

.name {
	color: $primary;
	font-size: 20px;
}

.popoverLink {
	font-size: 20px;
	color: $primary;
	padding-left: 0;

	&:hover,
	&:focus {
		color: $black;
	}
}