@import '../../assets/scss/var.scss';

// Menu
.ant-menu-horizontal>.ant-menu-item::after,
.ant-menu-horizontal>.ant-menu-submenu::after {
	bottom: 27px !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after {
	border-color: $black;
}

.ant-menu-title-content {
	font-weight: 500;
	font-size: 20px;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu {
	display: flex;
	align-items: center;
}

.ant-menu-horizontal {
	border: none;
}

.ant-menu-horizontal>.ant-menu-submenu>.ant-menu-submenu-title {
	height: 100%;
	display: flex;
	align-items: center;
}

.ant-menu-submenu:hover {
	&::after {
		border-color: $primary  !important;
	}
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
	color: $primary  !important;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
	border-color: $primary  !important;
}

.antd__popup {
	width: 150px !important;

	ul {
		margin-top: -50px;
		padding-bottom: 10px !important;
		padding-top: 50px !important;
		border-radius: 10px !important;
		overflow: hidden;
	}

	.ant-menu-item {
		text-align: center;
	}
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu {
	z-index: $headerIndex;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: $grey;
}

.ant-menu-item-selected {
	color: $primary;
}

.ant-menu-horizontal>.ant-menu-item a:hover {
	color: inherit !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
	color: inherit !important;
}

.ant-menu-item a:hover {
	color: inherit !important;
}



// Popover
.ant-popover-inner {
	border-radius: 10px;
	overflow: hidden;

	&-content {
		width: 290px;
		padding: 15px;
	}
}



// Layout
.ant-layout {
	background: transparent;
}



// Button
.btn {
	&.ant-btn-primary {
		min-width: 250px;
		height: 80px;
		color: #fff;
		border: 2px solid $primary;
		background-color: $primary;
		text-shadow: none;
		box-shadow: none;
		border-radius: 10px;
		font-size: 24px;
		font-weight: 600;

		transition: background-color 0.38s ease-in-out,
			color 0.38s ease-in-out,
			border-color 0.38s ease-in-out;

		&:hover {
			color: $primary;
			background-color: transparent;
			border-color: $primary;
		}
	}
}



// Message
.ant-message {
	z-index: $messageIndex;
}



// Inputs
.ant-input {
	padding: 25px !important;
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	color: $black;

	&::placeholder {
		color: #736868;
	}
}

.ant-input:not([type="password"]),
.ant-input-password {
	border-radius: 10px;
	border: 1px solid #736868;

	transition: filter 0.38s ease-in-out,
		border 0.38s ease-in-out;

	&:hover {
		filter: drop-shadow(0px 4px 5px rgba(30, 101, 109, 0.5));
		border-color: #736868;
	}

	&:focus {
		box-shadow: none;
		border-color: $primary;
	}

	.ant-input:hover {
		filter: none;
	}
}

.ant-input-password-icon.anticon {
	width: 31px;
	height: 23px;
	color: $primary;

	svg {
		width: 31px;
		height: 23px;
	}
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
	filter: drop-shadow(0px 4px 5px rgba(30, 101, 109, 0.5));
	border-color: #736868;
}

.ant-input-affix-wrapper {
	padding: 0;
	padding-right: 15px;
	border: 1px solid #736868;
	border-radius: 10px;
	overflow: hidden;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
	border-color: $red;
}



// Form
.ant-form-item-explain-error {
	text-align: center;
	color: $red;
	font-size: 23px;
	white-space: nowrap;
}

.ant-form-item {
	margin-bottom: 45px;

	&-with-help {
		margin-bottom: 0;

		.ant-form-item-explain {
			width: 100vw;
			transform: translateX(calc(-50% + 225px));
		}
	}
}

.ant-form-item-with-help .ant-form-item-explain {
	min-height: 45px;
	transition: all 0.38s ease-in-out;
}

.ant-form-item-with-help {
	transition: all 0.38s ease-in-out;
}

.ant-btn {
	border-radius: 10px;

	&-primary {
		background-color: $primary;
		border: 2px solid $primary;

		transition: background-color 0.38s ease-in-out,
			color 0.38s ease-in-out,
			border-color 0.38s ease-in-out;

		&:hover {
			background-color: transparent;
			border-color: $primary;
			color: $primary;
		}

		&:focus {
			background-color: $primary;
			border: 2px solid $primary;

			&:hover {
				background-color: transparent;
				border-color: $primary;
				color: $primary;
			}
		}
	}

	&-lg {
		font-size: 26px;
		font-weight: 600;
		min-height: 80px;
	}
}



// Tabs

.ant-tabs-tab {
	padding: 0 !important;
	margin-right: 10px !important;

	.anticon {
		margin-right: 0;
		font-size: 40px;
	}
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: $pink;

	&:hover {
		color: $pink  !important;
	}
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
	background: transparent;
}